.github/
node_modules/
final/files/*
!final/files/index.php

/bitbucket-pipelines.yml
workspace/wp-config.php


final/wp-config.php

final/frame/debug.log

final/frame/modules/gate/datas/*
!final/frame/modules/gate/datas/index.php